.yt-organizer-styling {
  font-size: 2em;
}

#create-new-folder-button {
  font-size: 1.8em;
  line-height: 14px;
  padding-inline: 4px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--yt-spec-text-primary);
  @media (prefers-color-scheme: dark) {
    background: rgba(255, 255, 255, 0.1);
  }
}

.yt-organizer-folder {
  color: var(--yt-spec-text-primary);
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
  box-shadow: black -5px 6px 4px -8px;
  overflow: hidden;
  max-height: calc(65px + calc(var(--number-of-ch) * 40px));
  transition-duration: clamp(200ms, calc(var(--number-of-ch) * 60ms), 500ms);
  transition-timing-function: ease-in-out;
  cursor: pointer;
  > img {
    width: 30px;
    margin-left: 10px;
    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
  }

  > div {
    font-family: "Roboto", "Arial", sans-serif;
    &[contenteditable="true"] {
      background-color: rgb(0, 0, 0, 0.1);
      cursor: text;
    }
    &.click-2-expand {
      width: 50%;
      height: 20px;
      font-size: 1.4rem;
      line-height: 2.2rem;
      padding: 5px 8px;
      margin-left: 12px;
    }
  }

  > p {
    font-size: 1.5em;
    line-height: 3rem;
    margin-right: 25px;
    &::after {
      content: "▲";
    }
  }
  > ytd-guide-entry-renderer {
    border-left: solid 1px var(--yt-spec-outline);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.new {
    align-items: center;
    height: 32px;
    > button {
      height: 30px;
      padding: 5px 8px;
      margin-right: 10px;
      cursor: pointer;
      color: var(--yt-spec-text-primary);
      @media (prefers-color-scheme: dark) {
        background: rgba(255, 255, 255, 0.1);
      }
    }
    > div {
      outline: 1px solid var(--yt-spec-outline);
      width: 130px;
      height: 28px;
      padding-inline: 5px;
      margin-left: 10px;
      font-size: 1.3rem;
      line-height: 2.6rem;
      display: flex;
      align-items: center;
      overflow: clip;
      white-space: nowrap;
      &[data-placeholder="Please set title"],
      &[data-placeholder="Name in use"] {
        background-color: rgb(200, 0, 0, 0.2);
      }
      &[data-placeholder]:not(:focus):before {
        content: attr(data-placeholder);
        font-size: 1.2rem;
        pointer-events: none;
      }
      :is(br) {
        display: none;
      }
    }
  }

  &.hide {
    max-height: 30px;
    > p {
      &::after {
        content: "▼";
      }
    }
  }
}

ytd-guide-entry-renderer[add-to-folder] {
  outline: 1px dashed rgb(0, 0, 0, 0.2);
}
ytd-guide-entry-renderer[add-to-folder="true"] {
  background-color: rgb(255, 50, 50, 0.2) !important;
}

.YSO-edit-menu {
  overflow: hidden;
  text-align: center;
  align-content: center;
  height: fit-content;
  max-height: 0px;
  margin-inline: 5px auto;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  word-spacing: 0.6rem;
  transition: all 300ms;

  &[activate] {
    margin-block: 3px;
    padding: 3px 10px;
    max-height: 30px;
  }

  &.delete-YSO-folder {
    width: 74px;
    background-color: rgba(255, 0, 0, 0.205);
    &.edit {
      display: none;
    }
  }
  &.edit-YSO-folder {
    width: 64px;
    background-color: rgba(0, 200, 50, 0.205);
    &.edit {
      display: none;
    }
  }
  &.save-YSO-folder {
    width: 64px;
    background-color: rgba(0, 95, 24, 0.605);
    color: #fef7e7;
    font-weight: 500;
    display: none;
    &.edit {
      display: block;
    }
  }
  &.cancel-YSO-folder {
    width: 74px;
    color: #fef7e7;
    background-color: rgb(0, 0, 0, 0.4);
    font-weight: 500;
    display: none;
    &.edit {
      display: block;
    }
  }
}


/*  make it so that 
    all items inside this class is 
    hidden from view unless specified
*/

#contents.yso-filter > *:not(.yso-filter, ytd-continuation-item-renderer) {
  display: none;
}

yso-order {
   display: none;
}