.yt-organizer-styling {
  font-size: 2em;
}

#create-new-folder-button {
  font-size: 1.8em;
  line-height: 14px;
  padding-inline: 4px;
  border-radius: 4px;
}

.yt-organizer-folder {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
  box-shadow: black -5px 6px 4px -8px;
  overflow: hidden;
  max-height: calc(35px + calc(var(--number-of-ch) * 40px));
  transition: 200ms ease-out;

  > img {
    width: 30px;
    margin-left: 10px;
  }
  > div.click-2-expand {
    width: 50%;
    height: 20px;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 5px 8px;
    margin-left: 12px;
  }
  > p {
    font-size: 1.5em;
    line-height: 3rem;
    margin-right: 25px;
    &::after {
      content: "▲";
    }
  }
  > ytd-guide-entry-renderer {
    border-left: solid 1px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.new {
    > button {
      height: 30px;
      padding: 5px 8px;
      margin-right: 10px;
    }
    > div {
      margin-left: 10px;
    }
  }

  &.hide {
    max-height: 30px;

    > p {
      &::after {
        content: "▼";
      }
    }
  }
}

ytd-guide-entry-renderer[newFolderAdd] {
  outline: 1px dashed rgb(0, 0, 0, 0.2);
}
ytd-guide-entry-renderer[newFolderAdd="true"] {
  background-color: rgb(255, 50, 50, 0.2) !important;
}

.YSO-edit-menu {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  margin-inline: 9px auto;
  font-size: 1.5rem;
  align-content: center;
  word-spacing: 0.6rem;
  font-weight: 700;
  border-radius: 5px;
  max-height: 0px;
  transition: all 300ms;

  &[activate] {
    padding: 3px 5px;
    max-height: 30px;
  }

  &.delete-YSO-folder {
    background-color: rgba(255, 0, 0, 0.205);
  }
  &.edit-YSO-folder {
    background-color: rgba(0, 200, 50, 0.205);
  }
}
