.yt-organizer-styling {
  font-size: 2em;
}

#create-new-folder-button {
  font-size: 1.8em;
  line-height: 14px;
  padding-inline: 4px;
  border-radius: 4px;
}

.yt-organizer-folder {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.yt-organizer-folder.new div {
  width: 50%;
  height: 20px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 5px 8px;
}

.yt-organizer-new-folder.new button {
  height: 30px;
  padding: 8px;
}

ytd-guide-entry-renderer[newFolderAdd] {
  outline: 1px dashed rgb(0, 0, 0, 0.2);
}
ytd-guide-entry-renderer[newFolderAdd="true"] {
  background-color: rgb(255, 50, 50, 0.2);
}
